<div class="grid-container">
  <h1 class="mat-h1">Produce</h1>
  <mat-grid-list cols="6" rowHeight="350px">
    <mat-grid-tile *ngFor="let item of list$ | async" colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Produce {{item}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Other info {{item}}</div>
          <div>Some other info {{item}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

  </mat-grid-list>
</div>
